body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ff0000;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}
.capitulo1 {
    font-size: 80px;
    margin: 0px;
    margin-top: 100px;
    position: relative;
    z-index: 1;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.parrafo {
    text-align: center;
    margin: 20px auto;
    width: 60%;
    font-size: 25px;
    line-height: 1.6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
video {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    height: auto;
    border-radius: 10px;
}
.capitulos {
    background-color: #2a2a2a;
    opacity: 0.9;
    padding: 50px;
    margin: 150px;
    margin-top: 10px;
    border-radius: 8px;
}
footer {
    background-color: #373636;
    color: #ffffff;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
}
button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}