body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 20px;
}
.TituloP {
    font-size: 80px;
    margin-bottom: 20px;
    color: #ff0000;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}
h2 {
    font-size: 40px;
    margin: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Trebuchet MS', sans-serif;
}
p {
    margin: 20px;
    width: 60%;
    font-size: 25px;
    line-height: 1.6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.personaje1 {
    background-color: #2a2a2a;
    opacity: 0.9;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    width: 70%;
    height: auto;
}
.datos {
    display: flex;
    gap: 20px;
    margin: 20px;
}
.musical {
    width: 80px;
    height: 85px;
    border-radius: 8px;
    margin: 10px;
    display: inline-block;
}
.contenedor-musical {
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: -100px;
}
.personaje2 {
    background-color: #2a2a2a;
    opacity: 0.9;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    width: 70%;
    height: auto;
}
.personajes3 {
    background-color: #2a2a2a;
    opacity: 0.9;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    width: 70%;
    height: auto;
}
footer {
    background-color: #222222;
    color: #ff0000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    padding: 15px;
    border-radius: 8px;
    margin-top: 50px;
}
.cont {
    margin-left: 40%;
}
button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}